$themes: (
    $light: (
        piccolo: #4E46B4,
        jiren: #4E46B41F,
        hit: #40A69F,
        heles: #0000000A,
        beerus: #E2E2E2,
        goku: #F5F5F5,
        gohan: #FFFFFF,
        zeno: #0000008F,
        bulma: #000000,
        trunks: #595D62,
        goten: #FFFFFF,
        popo: #000000,
    ),
    $dark: (
        piccolo: #4E46B4,
        jiren: #4E46B452,
        hit: #40A69F,
        heles: #FFFFFF14,
        beerus: #444444,
        goku: #0B0B0B,
        gohan: #1F1F1F,
        zeno: #0000008F,
        bulma: #FFFFFF,
        trunks: #595D62,
        goten: #FFFFFF,
        popo: #000000
    )
)